<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Jesmon Seguridad</title>
<link rel="icon" href="../img/logo_small.png"/>
<div th:replace="fragments/header.html :: header-css" />

<script type="text/javascript">

	jQuery(document).ready( function() {
		jQuery("#idEmpresa").bind('change', function() {
			document.getElementById("formEmpresas").submit();
		});

		jQuery(document).ready( function() {
			$('#formEmpresa').validate(getValidationObject(empresaFomRules));
		});

		jQuery(document).ready( function() {
			$('#formSede').validate(getValidationObject(sedeFomRules));
		});
	});

	function FnNuevaEmpresa(){
		$("#empresaModal h5").html("Nueva empresa");
		$("#empresaModal form").attr("action", "insertarEmpresa");
		$("#empresaModal :text").val("");
		$("#empresaModal select").val("");
		$("#empresaModal").modal();
	}

	function FnModificarEmpresa(){
		$("#empresaModal h5").html("Modificar empresa");
		$("#empresaModal #denominacionEmpresa").val($("#denominacionEmpresaH3").html().replace('&nbsp;', ''));
		$("#empresaModal #emailEmpresa").val($("#emailEmpresaP").html().replace('&nbsp;', ''));
		$("#empresaModal #telefonoEmpresa").val($("#telefonoEmpresaP").html().replace('&nbsp;', ''));
		$("#empresaModal #nifEmpresa").val($("#nifEmpresaP").html().replace('&nbsp;', ''));
		$("#empresaModal form").attr("action", "modificarEmpresa");
		$("#idEmpresaModal").val($("#idEmpresa").val());
		$("#empresaModal").modal();
	}
	
	function FnNuevaSede(){
		$("#sedeModal h5").html("Nueva sede");
		$("#sedeModal form").attr("action", "insertarSede");
		$("#sedeModal :text").val("");
		$("#sedeModal select").val("");
		$("#sedeModal").modal();
	}

	function FnModificarSede(idSede){
		$("#sedeModal h5").html("Modificar sede");
		$("#sedeModal form").attr("action", "modificarSede");
		$("#sedeModal #denominacionSede").val(jQuery("#denominacionSede" + idSede).html());
		$("#sedeModal #telefonoSede").val(jQuery("#telefonoSede" + idSede).html());
		$("#sedeModal #direccionSede").val(jQuery("#direccionSede" + idSede).val());
		$("#sedeModal #municipioSede").val(jQuery("#municipioSede" + idSede).val());
		$("#sedeModal #codigoPostalSede").val(jQuery("#codigoPostalSede" + idSede).val());
		$("#sedeModal #provinciaSede").val(jQuery("#cdProvinciaSede" + idSede).val());
		$("#sedeModal").modal();
	}

	function FnNuevoUsuario(){
		$("#usuarioModal h5").html("Nuevo usuario");
		$("#usuarioModal form").attr("action", "insertarResponsable");
		$("#usuarioModal").modal();
	}

	function FnModificarUsuario(){
		$("#usuarioModal h5").html("Modificar usuario");
		$("#usuarioModal form").attr("action", "modificarResponsable");
		$("#usuarioModal").modal();
	}

</script>

<style type="text/css">
.table-striped td {
	padding: 4px;
}
</style>

</head>
<body>
	<div th:replace="fragments/header.html :: navegacionAdmin" />

	<br />
	<div th:if="${param.mensaje != null}">
		<div class="alert alert-info" th:text="${(param.mensaje + '')}" />
	</div>
	
	<div th:if="${mensaje != null}">
		<div class="alert alert-info" th:text="${(mensaje)}" />
	</div>
	
	<form action="empresas" th:action="@{/admin/empresas}" method="post" id="formEmpresas">
		<div class="container">
			<div class="bd-example-row">
				<div class="row">
					<h2 class="col-12 text-primary" style="font-weight: bold">Empresas
						<input type="button" class="btn btn-sm btn-success"
									value="Nueva empresa"
									onclick="FnNuevaEmpresa()" />
					</h2>
				</div>
				<div class="form-group col-12 row">
					<label for="idEmpresa">Empresa</label>
					<select name="idEmpresa" id="idEmpresa" required="true" class="form-control form-control-sm" style="width: 80%;margin-left: 10px">
						<option></option>
						<option th:each="empresaTmp : ${session.USUAIO_SESION.listaEmpresas}" th:selected="${empresa != null &amp;&amp; empresaTmp.idEmpresa == empresa.idEmpresa}"
							th:value="${empresaTmp.idEmpresa}" th:text="${empresaTmp.denominacion}" />
					</select>
				</div>
			</div>
		</div>
	</form>
	
	<div class="container" th:if="${empresa != null}">
		<div class="card">
			<div class="card-header row" style="margin-left: 0px;margin-right:0px;">
				<h3 class="card-title text-primary" th:text="${empresa.denominacion}" id="denominacionEmpresaH3"></h3>
				&nbsp;&nbsp;
				<input type="button" class="btn btn-sm btn-success" style="height: 30px"
								value="Modificar empresa"
								onclick="FnModificarEmpresa()" />
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Datos de la empresa</h5>
					</div>
					<div class="row">
						<div class="col-sm-4">
						<div class="card">
							<div class="card-body">
							<h5 class="card-title">NIF</h5>
							<p class="card-text" th:text="${#strings.defaultString(empresa.nif,'&nbsp;')}" id="nifEmpresaP"></p>
							</div>
						</div>
						</div>
						<div class="col-sm-4">
						<div class="card">
							<div class="card-body">
							<h5 class="card-title">Email</h5>
							<p class="card-text" th:text="${#strings.defaultString(empresa.email, '&nbsp;')}" id="emailEmpresaP"></p>
							</div>
						</div>
						</div>
						<div class="col-sm-4">
						<div class="card">
							<div class="card-body">
							<h5 class="card-title">Teléfono</h5>
							<p class="card-text" th:text="${#strings.defaultString(empresa.telefono, '&nbsp;')}" id="telefonoEmpresaP"></p>
							</div>
						</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Sedes
							<input type="button" class="btn btn-sm btn-success"
								value="Nueva sede"
								onclick="FnNuevaSede()" />
						</h5>
					</div>
					<div class="row col-sm-12">
						<form action="asignarSedeCentral" method="post">
							<table class="table table-striped" style="font-size: 12px;">
								<thead>
									<tr>
										<th>Denominación</th>
										<th>Teléfono</th>
										<th>Dirección</th>
										<th>Sede Central</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="sede : ${empresa.sedes}">
										<td th:text="${sede.denominacion}" th:id="${'denominacionSede' + sede.idSede}">Text ...</td>
										<td th:text="${sede.telefono}" th:id="${'telefonoSede' + sede.idSede}"></td>
										<td th:text="${sede.direccion == null ? '' : sede.direccion.direccionStr}"></td>
										<td align="center">
											<input type="radio" name="idSedeCentral" th:value="${sede.idSede}" th:checked="${sede == empresa.sede}" />
										</td>
										<td>
											<input type="hidden" th:id="${'direccionSede' + sede.idSede}" th:value="${sede.direccion == null || sede.direccion.direccion == null ? '' : sede.direccion.direccion}" />
											<input type="hidden" th:id="${'municipioSede' + sede.idSede}" th:value="${sede.direccion == null || sede.direccion.municipio == null ? '' : sede.direccion.municipio}" />
											<input type="hidden" th:id="${'codigoPostalSede' + sede.idSede}" th:value="${sede.direccion == null || sede.direccion.codigoPostal == null ? '' : sede.direccion.codigoPostal}" />
											<input type="hidden" th:id="${'cdProvinciaSede' + sede.idSede}" th:value="${sede.direccion == null || sede.direccion.provincia == null ? '' : sede.direccion.provincia.cdProvincia}" />
											<input type="button" class="btn btn-sm btn-primary"
												value="Modificar sede" th:onclick="${'FnModificarSede(' + sede.idSede + ')'}"/>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="3"></td>
										<td><input type="submit" class="btn btn-sm btn-primary" value="Asignar sede central" /></td>									
										<td/>
									</tr>
								</tfoot>
							</table>
							<input type="hidden" name="idEmpresa" th:value="${empresa.idEmpresa}" id="idEmpresaSedes" />
						</form>
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Usuarios
							<input type="button" class="btn btn-sm btn-success"
								value="Nuevo usuairo"
								onclick="FnNuevoUsuario()" />
						</h5>
					</div>
					<div class="row col-sm-12">
						<form action="modificarSedesResponsables" method="post">
							<input type="hidden" name="idEmpresa" th:value="${empresa.idEmpresa}" id="idEmpresaMod" /> 
							<table class="table table-striped" style="font-size: 12px;">
								<thead>
									<tr>
										<th>Login</th>
										<th>Nombre</th>
										<th>NIF</th>
										<th>Teléfono</th>
										<th>Email</th>
										<th>Cargo</th>
										<th>Sedes autorizdas</th>
										<th>Borrado</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="responsable : ${empresa.responsables}" th:if="${responsable.activo == 0 ? '' : 'class=text-danger'}" >
										<td th:text="${responsable.login}">Text ...</td>
										<td th:text="${responsable.nombreCompleto}">Text ...</td>
										<td th:text="${responsable.nif}">Text ...</td>
										<td th:text="${responsable.telefono}">Text ...</td>
										<td th:text="${responsable.email}">Text ...</td>
										<td th:text="${responsable.cargo}">Text ...</td>
										<td>
											<ul style="padding-left: 5px;">
												<li th:each="sede : ${empresa.sedes}" style="list-style-type: none;">
													<input type="checkbox" th:name="${'sedes_responsable_' + responsable.idResponsable}"
														th:id="${'sede' + sede.idSede + '_responsable' + responsable.idResponsable}"
														th:checked="${#lists.contains(responsable.sedes, sede)}" th:value="${sede.idSede}"/>
													<label th:text="${sede.denominacion}" th:for="${'sede' + sede.idSede + '_responsable' + responsable.idResponsable}"></label> 
												</li>
											</ul>
										</td>
										<td align="center">
											<input type="checkbox" th:checked="${responsable.activo == 0}" th:name="${'activo_responsable_' + responsable.idResponsable}"
												th:id="${'activo_responsable_' + responsable.idResponsable}" value="1" />
										</td>
										<td>
											<input type="button" class="btn btn-sm btn-primary" value="Modificar usuario" onclick="FnModificarUsuario()"/>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="6"></td>
										<td><input type="submit" class="btn btn-sm btn-primary" value="Asignar sedes" /></td>
										<td><input type="submit" class="btn btn-sm btn-primary" value="Activar/Desact" /></td>
										<td/>
									</tr>
								</tfoot>
							</table>
						</form>
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Contratos incendios
							<input type="button" class="btn btn-sm btn-success"
								value="Nuevo contrato"
								onclick="FnNuevoContratoIncendios()" />
						</h5>
					</div>
					<div class="row col-sm-12">
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Contratos sistemas de seguridad
							<input type="button" class="btn btn-sm btn-success"
								value="Nuevo contrato"
								onclick="FnNuevoContratoSeguridad()" />
						</h5>
					</div>
					<div class="row col-sm-12">
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="modal fade" id="empresaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form method="post" id="formEmpresa" action="" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="labelMensaje">Nueva empresa</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container">
							 <div class="row">
  								<div class="col-12">
									<div class="form-group">
										<label for="denominacionEmpresa">Nombre empresa</label>
										<input type="text" class="form-control form-control-sm"
											name="denominacion" id="denominacionEmpresa" placeholder="Nombre empresa" required="true"
											autofocus="true" maxlength="500"/>
									</div>
								</div>
							</div>
							<div class="row">
  								<div class="col-4">
									<div class="form-group">
										<label for="nifEmpresa">NIF</label>
										<input type="text" class="form-control form-control-sm"
											name="nif" id="nifEmpresa" placeholder="NIF"
											maxlength="9" style="width: 75%" />
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label for="telefonoEmpresa">Teléfono</label>
										<input type="text" class="form-control form-control-sm"
											name="telefono" id="telefonoEmpresa" placeholder="Teléfono"
											maxlength="9" style="width: 75%" />
									</div>
								</div>
								<div class="col-4">
									<div class="form-group">
										<label for="emailEmpresa">Email</label>
										<input type="text" class="form-control form-control-sm"
											name="email" id="emailEmpresa" placeholder="Email"
											/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="idEmpresa" id="idEmpresaModal"/>
		</form>
	</div>

	<div class="modal fade" id="sedeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form method="post" id="formSede" action="" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="labelMensaje">Nueva sede</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container">
							 <div class="row">
  								<div class="col-12">
									<div class="form-group">
										<label for="denominacionSede">Nombre sede</label>
										<input type="text" class="form-control form-control-sm"
											name="denominacion" id="denominacionSede" placeholder="Nombre sede" required="true"
											autofocus="true" maxlength="500"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-4">
									<div class="form-group">
										<label for="telefonoSede">Teléfono</label>
										<input type="text" class="form-control form-control-sm"
											name="telefono" id="telefonoSede" placeholder="Teléfono"
											maxlength="9" style="width: 75%" />
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<hr />
										<h6>Dirección</h6>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<div class="form-group">
										<label for="direccionSede">Calle</label>
										<input type="text" class="form-control form-control-sm"
											name="direccion" id="direccionSede" placeholder="Calle"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label for="municipioSede">Municipio</label>
										<input type="text" class="form-control form-control-sm"
											name="municipio" id="municipioSede" placeholder="Municipio"/>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label for="provinciaSede">Provincia</label>
										<select name="provincia" id="provinciaSede" class="form-control form-control-sm">
											<option></option>
											<option th:each="provincia : ${listaProvincias}" 
												th:value="${provincia.cdProvincia}" th:text="${provincia.denominacion}" />
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<label for="codigoPostalSede">Código postal</label>
										<input type="text" class="form-control form-control-sm" maxlength="5" style="width: 30%"
											name="codigoPostal" id="codigoPostalSede" placeholder="C.P."/>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="idSede" id="idSedeModal"/>
			<input type="hidden" name="idEmpresa" id="idEmpresaSede" th:value="${empresa == null ? '' : empresa.idEmpresa}" />
		</form>
	</div>
	<div class="modal fade" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form method="post" id="formResponsable" action="" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="labelMensaje">Nueva usuario</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container">
							 <div class="row">
  								<div class="col-12">
									<div class="form-group">
										<label for="loginUsuariod">Login usuario</label>
										<input type="text" class="form-control form-control-sm"
											name="login" id="loginUsuario" placeholder="Login usuario" required="true"
											autofocus="true" maxlength="50"/>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-6">
									<label for="passwordResponsable">Contraseña</label>
									<input type="password"
										class="form-control form-control-sm" id="passwordResponsable" name="password"
										aria-describedby="nuevoPasswordHelp" placeholder="Contraseña" />
									<div class="input-group-append">
									    <span class="input-group-text" id="passwordHelp" style="font-size: 14px;">6 carácteres mínimo</span>
									</div>
								</div>
								<div class="form-group col-6">
									<label for="repitaPasswordResponsable">Repita Contraseña</label>
									<input type="password"
										class="form-control form-control-sm" id="repitaPasswordResponsable" name="repitaPassword"
										aria-describedby="nuevoPasswordHelp" placeholder="Repita contraseña" />
									<div class="input-group-append">
									    <span class="input-group-text" id="repitaPasswordHelp" style="font-size: 14px;">6 carácteres mínimo</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12 col-md-6">
									<label for="nombreResponsable">Nombre</label>
									<input type="text" name="nombre"
										class="form-control form-control-sm" id="nombreResponsable" maxlength="150" placeholder="Nombre" />						
								</div>
								<div class="form-group col-sm-12 col-md-6">
									<label for="apellido1Responsable">1º Apellido</label>
									<input type="text" name="apellido1"
										class="form-control form-control-sm" id="apellido1Responsable" maxlength="150" placeholder="1º apellido" />
								</div>								
							</div>
							<div class="row">								
								<div class="form-group col-sm-12 col-md-6">
									<label for="apellido2Responsable">2º Apellido</label>
									<input type="text" name="apellido2"
										class="form-control form-control-sm" id="apellido2Responsable" maxlength="150" placeholder="2ª apellido" />
								</div>
								<div class="form-group col-sm-12 col-md-6">
									<label for="NIFResponsable">NIF</label>
									<input type="text" name="NIF"
										class="form-control w-50 form-control-sm" id="NIFResponsable" maxlength="9" placeholder="NIF" />
								</div>
							</div>
							<div class="row">								
								<div class="form-group col-sm-12 col-md-6">
									<label for="apellido2Responsable">Email</label>
									<input type="text" name="email" required="required"
										class="form-control form-control-sm" id="emailResponsable" maxlength="50" placeholder="Email" />
								</div>
								<div class="form-group col-sm-12 col-md-6">
									<label for="cargoResponsable">Cargo</label>
									<input type="text" name="cargo"
										class="form-control form-control-sm" id="cargoResponsable" maxlength="45" placeholder="Cargo" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="idEmpresa" id="idEmpresaResponsable" th:value="${empresa == null ? '' : empresa.idEmpresa}" />
			<input type="hidden" name="idResponsable" id="idResponsable" />
		</form>
	</div>

	<div th:replace="fragments/footer.html :: footer" />

</body>
</html>