<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Jesmon Seguridad</title>
<link rel="icon" href="../img/logo_small.png"/>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet"/>
<div th:replace="fragments/header.html :: header-css" />

<script type="text/javascript">

	jQuery(document).ready( function() {
		jQuery(".fecha").datepicker({changeYear:true});
	});

	</script>

<style type="text/css">
.table-striped td {
	padding: 4px;
}
</style>

</head>
<body>
	<div sec:authorize="hasRole('ROLE_CLIENTE')">	
		<div th:replace="fragments/header.html :: navegacionCliente('incidencias')" />
	</div>
	<div sec:authorize="hasRole('ROLE_TRAMITADOR')">
		<div th:replace="fragments/header.html :: navegacionTramitador" />
	</div>
	<div sec:authorize="hasRole('ROLE_ADMIN')">
		<div th:replace="fragments/header.html :: navegacionAdmin('incidencias')" />
	</div>
	<br />
	<form action="incidencias" method="post"
		th:object="${buscadorIncidenciasForm}">
		<div class="container">
			<div th:if="${param.mensaje != null}">
				<div class="alert alert-info" th:text="${(param.mensaje + '')}" />
			</div>
			
			<div th:if="${mensaje != null}">
				<div class="alert alert-info" th:text="${(mensaje)}" />
			</div>
			
			<div class="bd-example-row">
				<div class="row">
					<h2 class="col-12 text-primary" style="font-weight: bold">Buscador
						de incidencias</h2>
				</div>
				<div class="row">
					<div class="form-group col-4">
						<label for="idEstado">Estado</label> <select name="idEstado"
							id="idEstado" class="form-control form-control-sm">
							<option></option>
							<option th:each="estado : ${listaEstados}" th:class="${estado.classCss}"
								th:value="${estado.idEstado}" th:text="${estado.descripcion}"
								th:selected="${estado.idEstado ==  buscadorIncidenciasForm.idEstado}" />
						</select>
					</div>
					<div class="form-group col-4">
						<label for="idIncidencia">Id incidencia</label>
						<input type="text"
							name="idIncidencia" id="idIncidencia" class="form-control text-right w-50 form-control-sm" placeholder="Id incidencia"
							th:value="${buscadorIncidenciasForm.idIncidencia}" />
					</div>
					<div class="form-group col-4" sec:authorize="hasRole('ROLE_TRAMITADOR')">
						<label for="idEmpresa">Empresa</label> <select name="idEmpresa"
							id="idEmpresa" onchange="FnBuscarSedes();FnBuscarResponsables()" class="form-control form-control-sm">
							<option></option>
							<option th:each="empresa : ${listaEmpresas}"
								th:value="${empresa.idEmpresa}"
								th:text="${empresa.denominacion}"
								th:selected="${empresa.idEmpresa ==  buscadorIncidenciasForm.idEmpresa}" />
						</select>
					</div>
					<div class="form-group col-4" th:style="${listaSedes == null || listaSedes.size() == 0 ? 'display: none' : ''}" id="celdaSede">
						<label for="idSede">Sede</label> <select name="idSede" id="idSede" class="form-control form-control-sm">
							<option></option>
							<option th:each="sede : ${listaSedes}" th:value="${sede.idSede}"
								th:text="${sede.denominacion}"
								th:selected="${sede.idSede ==  buscadorIncidenciasForm.idSede}" />
						</select>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-4">
						<label for="idResponsable">Resposable</label> <select
							name="idResponsable" id="idResponsable" class="form-control form-control-sm">
							<option></option>
							<option th:each="responsable : ${listaResponsables}"
								th:value="${responsable.idResponsable}"
								th:text="${responsable.nombreCompleto}"
								th:selected="${responsable.idResponsable ==  buscadorIncidenciasForm.idResponsable}" />
						</select>
					</div>
					<div class="form-group col-4">
						<label for="fechaAltaDesde">Fecha desde</label> <input type="text"
							name="fechaAltaDesde" id="fechaAltaDesde" class="fecha form-control form-control-sm"
							th:value="${buscadorIncidenciasForm.fechaAltaDesde}" />
					</div>
					<div class="form-group col-4">
						<label for="fechaAltaHasta">Fecha hasta</label> <input type="text"
							name="fechaAltaHasta" id="fechaAltaHasta" class="fecha form-control form-control-sm"
							th:value="${buscadorIncidenciasForm.fechaAltaHasta}" />
					</div>
				</div>
				<div class="row">
					<div class="form-group col-6">
						<label for="idTipoIncidencia">Tipo incidencia</label> <select name="idTipoIncidencia" id="idTipoIncidencia" class="form-control form-control-sm">
							<option></option>
							<option th:each="tipoIncidencia : ${listaTiposIncidencia}" th:selected="${tipoIncidencia.idTipoIncidencia ==  buscadorIncidenciasForm.idTipoIncidencia}"
								th:value="${tipoIncidencia.idTipoIncidencia}" th:text="${tipoIncidencia.denominacion}" />
						</select>
					</div>
					<div class="form-group col-6">
						<label for="idPrioridadIncidencia">Prioridad</label> <select name="idPrioridadIncidencia" id="idPrioridadIncidencia" class="form-control form-control-sm">
							<option></option>
							<option th:each="prioridadIncidencia : ${listaPrioridadesIncidencia}" th:class="${prioridadIncidencia.classCss}"
								th:selected="${prioridadIncidencia.idPrioridadIncidencia ==  buscadorIncidenciasForm.idPrioridadIncidencia}"
								th:value="${prioridadIncidencia.idPrioridadIncidencia}" th:text="${prioridadIncidencia.denominacion}" />
						</select>
					</div>
				</div>
				
				<input type="submit" class="btn btn-sm btn-primary" value="Buscar" />
				<input type="button" sec:authorize="hasRole('ROLE_CLIENTE') || hasRole('ROLE_ADMIN')" class="btn btn-sm btn-success"
					value="Nueva incidencia"
					onclick="window.location.href='insertarIncidencia'" />
			</div>
		</div>
	
	<div class="container">
		<div class="starter-template">
			<hr />
			<h2 class="text-primary">Listado Incidencias</h2>
			<table class="table table-striped" style="font-size: 12px;">
				<thead>
					<tr>
						<th>ID <a th:href="@{../tramitador/incidencias(orden=${orden == 'idIncidencia;desc'} ? 'fechaAlta;asc' : 'idIncidencia;desc')}"><i class="fa fa-fw fa-sort"></i></a></th>
						<th>Fecha <a th:href="@{../tramitador/incidencias(orden=${orden == 'fechaAlta;desc'} ? 'fechaAlta;asc' : 'fechaAlta;desc')}"><i class="fa fa-fw fa-sort"></i></a></th>
						<th>Asunto</th>
						<th>Usuario alta</th>
						<th>Sede</th>
						<th sec:authorize="hasRole('ROLE_TRAMITADOR')">Empresa</th>
						<th>Estado</th>
						<th>Prioridad</th>
						<th>Tipo</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="incidencia : ${listaIncidencias}">
						<td th:text="${incidencia.idIncidencia}">Text ...</td>
						<td th:text="${#dates.format(incidencia.fechaAlta, 'dd/MM/yyyy')}"></td>
						<td th:text="${incidencia.asunto}">Text ...</td>
						<td th:text="${incidencia.responsable.nombre}">Text ...</td>
						<td th:text="${incidencia.sede.denominacion}">Text ...</td>
						<td th:text="${incidencia.sede.empresa.denominacion}" sec:authorize="hasRole('ROLE_TRAMITADOR')">Text...</td>
						<td th:text="${incidencia.estadoActual.descripcion}" th:class="${incidencia.estadoActual.classCss}">Text ...</td>
						<td th:text="${incidencia.prioridadIncidencia == null ? '' : incidencia.prioridadIncidencia.denominacion}" th:class="${incidencia.prioridadIncidencia == null ? '' : incidencia.prioridadIncidencia.classCss}">Text ...</td>
						<td th:text="${incidencia.tipoIncidencia == null ? '' : incidencia.tipoIncidencia.denominacion}">Text ...</td>
						<td>
							<input type="button" class="btn btn-sm btn-primary"
								value="Consultar"
								th:onclick="'window.location.href=\''+ @{consultarIncidencia(idIncidencia=${incidencia.idIncidenciaB64})} + '\''" />
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		 <div class="row">
	        <div class="form-group col-md-1">
	            <select class="form-control pagination" id="pageSize" name="pageSize">
	                <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
	                        th:selected="${pageSize} == ${selectedPageSize}"></option>
	            </select>
	        </div>
	        <div th:if="${totalPages != 1}" class="form-group col-md-11 pagination-centered">
	            <ul class="pagination">
	                <li th:class="${currentPage == 0} ? disabled">
	                    <a class="pageLink" th:href="@{../tramitador/incidencias(pageSize=${selectedPageSize}, page=1, orden=${orden})}">&laquo;</a>
	                </li>
	                <li th:class="${currentPage == 0} ? disabled">
	                    <a class="pageLink" th:href="@{../tramitador/incidencias(pageSize=${selectedPageSize}, page=${currentPage}, orden=${orden})}">&larr;</a>
	                </li>
	                <li th:class="${currentPage == (page - 1)} ? 'active pointer-disabled'"
	                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
	                    <a class="pageLink" th:href="@{../tramitador/incidencias(pageSize=${selectedPageSize}, page=${page}, orden=${orden})}"
	                       th:text="${page + ', '}"></a>
	                </li>
	                <li th:class="${currentPage + 1 == totalPages} ? disabled">
	                    <a class="pageLink"
	                       th:href="@{../tramitador/incidencias(pageSize=${selectedPageSize}, page=${currentPage + 2}, orden=${orden})}">&rarr;</a>
	                </li>
	                <li th:class="${currentPage + 1 == totalPages} ? disabled">
	                    <a class="pageLink"
	                       th:href="@{../tramitador/incidencias(pageSize=${selectedPageSize}, page=${totalPages}, orden=${orden})}">&raquo;</a>
	                </li>
	            </ul>
        	</div>
	    </div>

		</div>
	</form>
	<!-- /.container -->


	<div th:replace="fragments/footer.html :: footer" />

</body>
</html>