<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Jesmon Seguridad</title>
<link rel="icon" href="../img/logo_small.png"/>
<div th:replace="fragments/header.html :: header-css" />

<script type="text/javascript">

	jQuery(document).ready( function() {
		jQuery("#idTramitador").bind('change', function() {
			document.getElementById("formTramitadores").submit();
		});

		jQuery("#activarModificarPassword").bind('click', function() {
			FnActivarModificarPassword(this);
		});

		jQuery(".marcar_sedes_empresas").bind('click', function() {
			FnActivarModificarPassword(this);
			jQuery(".sedes_empresas_" +  this.value).attr("checked", this.checked);
		});
		
		jQuery(document).ready( function() {
			$('#formTramitador').validate(getValidationObject(tramitadorFomRules));
		});

	});

	function FnActivarModificarPassword(check) {
		if(!check.checked){
			$('#filaPassword').hide();
			$('#filaPassword input').attr("disabled", true);
		}
		else {
			$('#filaPassword').show();
			$('#filaPassword input').attr("disabled", false);
		}
	}
	
	function FnNuevoTramitador(){
		$("#tramitadorModal h5").html("Nuevo tramitador");
		$("#tramitadorModal form").attr("action", "insertarTramitador");
		$("#tramitadorModal :text").val("");

		$('#filaPassword').show();
		$('#filaPassword input').attr("disabled", false);
		$('#filaActivarModificarPassword').hide();
		
		$("#tramitadorModal").modal();
	}

	function FnModificarTramitador(idTramitador){
		$("#tramitadorModal h5").html("Modificar tramitador");
		$("#tramitadorModal form").attr("action", "modificarTramitador");
		$("#tramitadorModal #idTramitadorForm").val(idTramitador);
		$("#tramitadorModal #loginTramitador").val($("#loginTramitadorP").html().replace('&nbsp;', ''));
		$("#tramitadorModal #nombreTramitador").val($("#nombreTramitador").val());
		$("#tramitadorModal #apellido1Tramitador").val($("#apellido1Tramitador").val());
		$("#tramitadorModal #apellido2Tramitador").val($("#apellido2Tramitador").val());

		
		$("#tramitadorModal #NIFTramitador").val($("#nifTramitadorP").html().replace('&nbsp;', ''));
		$("#tramitadorModal #telefonoTramitador").val($("#telefonoTramitadorP").html().replace('&nbsp;', ''));
		$("#tramitadorModal #emailTramitador").val($("#emailTramitadorP").html().replace('&nbsp;', ''));

		$('#filaPassword').hide();
		$('#filaPassword input').attr("disabled", true);
		$('#filaActivarModificarPassword').show();
		$('#activarModificarPassword').attr("checked", false);
		
		$("#tramitadorModal").modal();
	}

</script>

<style type="text/css">
.table-striped td {
	padding: 4px;
}
</style>

</head>
<body>
	<div th:replace="fragments/header.html :: navegacionAdmin('tramitadores')" />

	<br />
	<div th:if="${param.mensaje != null}">
		<div class="alert alert-info" th:text="${(param.mensaje + '')}" />
	</div>
	
	<div th:if="${mensaje != null}">
		<div class="alert alert-info" th:text="${(mensaje)}" />
	</div>
	
	<form action="tramitadores" method="post" id="formTramitadores">
		<div class="container">
			<div class="bd-example-row">
				<div class="row">
					<h2 class="col-12 text-primary" style="font-weight: bold">Tramitadores
						<input type="button" class="btn btn-sm btn-success"
									value="Nuevo tramitador"
									onclick="FnNuevoTramitador()" />
					</h2>
				</div>
				<div class="form-group col-12 row">
					<label for="idTramitador">Tramitador</label>
					<select name="idTramitador" id="idTramitador" required="true" class="form-control form-control-sm" style="width: 80%;margin-left: 10px">
						<option></option>
						<option th:each="tramitadorTmp : ${listaTramitadores}" th:selected="${tramitador != null &amp;&amp; tramitadorTmp.idTramitador == tramitador.idTramitador}"
							th:value="${tramitadorTmp.idTramitador}" th:text="${tramitadorTmp.nombreCompleto}" />
					</select>
				</div>
			</div>
		</div>
	</form>
	
	<div class="container" th:if="${tramitador != null}">
		<input type="hidden" id="nombreTramitador" th:value="${tramitador.nombre}" />
		<input type="hidden" id="apellido1Tramitador" th:value="${tramitador.apellido1}" />
		<input type="hidden" id="apellido2Tramitador" th:value="${tramitador.apellido2}" />
		
		<div class="card">
			<div class="card-header row" style="margin-left: 0px;margin-right:0px;">
				<h3 class="card-title text-primary" th:text="${tramitador.nombreCompleto}" id="nombreCompletoTramitadorH3"></h3>
				&nbsp;&nbsp;
				<input type="button" class="btn btn-sm btn-success" style="height: 30px"
								value="Modificar tramitador"
								th:onclick="${'FnModificarTramitador(' + tramitador.idTramitador + ')'}" />
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Datos del tramitador</h5>
					</div>
					<div class="row">
						<div class="col-sm-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Login</h5>
									<p class="card-text" th:text="${#strings.defaultString(tramitador.login,'&nbsp;')}" id="loginTramitadorP"></p>
								</div>
							</div>
						</div>
						<div class="col-sm-2">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">NIF</h5>
									<p class="card-text" th:text="${#strings.defaultString(tramitador.nif,'&nbsp;')}" id="nifTramitadorP"></p>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Email</h5>
									<p class="card-text" th:text="${#strings.defaultString(tramitador.email, '&nbsp;')}" id="emailTramitadorP"></p>
								</div>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="card">
								<div class="card-body">
									<h5 class="card-title">Teléfono</h5>
									<p class="card-text" th:text="${#strings.defaultString(tramitador.telefono, '&nbsp;')}" id="telefonoTramitadorP"></p>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="list-group-item">
					<div class="card-body">
						<h5 class="card-title">Permisos tramitador</h5>
					</div>
					<div class="row col-sm-12">
						<form action="asignarSedesTramitador" method="post">
							<table class="table table-striped" style="font-size: 12px;" >
								<thead>
									<tr>
										<th>Empresa</th>
										<th>Sedes</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="empresa: ${listaEmpresas}">
										<td style="font-weight:bold">
											<input type="checkbox" th:id="'marcar_sedes_empresas_' + ${empresa.idEmpresa}" class="marcar_sedes_empresas" th:value="${empresa.idEmpresa}" 
												th:title="'Seleccionar todas las sedes de la empresa ' + ${empresa.denominacion}"/>
											<label th:text="${empresa.denominacion}" th:for="'marcar_sedes_empresas_' + ${empresa.idEmpresa}"/>
										</td>
										<td th:each="sede : ${empresa.listaSedes}">
											<input type="checkbox" th:id="${'sedes_tramitador' + sede.idSede}" th:name="sedes_tramitador" th:value="${sede.idSede}"
												th:checked="${#lists.contains(tramitador.sedes, sede)}" th:class="'sedes_empresas_' + ${empresa.idEmpresa}" />
											<label th:for="${'sedes_tramitador' + sede.idSede}" th:text="${sede.denominacion}"></label>
										</td>
									</tr>
								</tbody>
							</table>
							<input type="submit" class="btn btn-sm btn-success" style="height: 30px"
								value="Modificar permisos"/>
							<input type="hidden" name="idTramitador" id="idTramitadorSedes" th:value="${tramitador.idTramitador}"/>
						</form>
					</div>
				</li>
			</ul>
		</div>
	</div>
	
	<div class="modal fade" id="tramitadorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form method="post" id="formTramitador" action="" >
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title text-primary" id="labelTramitador">Nuevo tramitador</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="container">
							 <div class="row">
  								<div class="col-12">
									<div class="form-group">
										<label for="loginUsuario">Login tramitador</label>
										<input type="text" class="form-control form-control-sm"
											name="login" id="loginTramitador" placeholder="Login tramitador" required="true"
											autofocus="true" maxlength="50"/>
									</div>
								</div>
							</div>
							<div class="row" id="filaActivarModificarPassword">
								<div class="form-group col-12">
									<input type="checkbox" id="activarModificarPassword"/> <label for="activarModificarPassword">Modificar contraseña</label>
								</div>
							</div>
							
							<div class="row" id="filaPassword">
								<div class="form-group col-6">
									<label for="passwordTramitador">Contraseña</label>
									<input type="password"
										class="form-control form-control-sm" id="passwordTramitador" name="password"
										aria-describedby="nuevoPasswordHelp" placeholder="Contraseña" />
									<div class="input-group-append">
									    <span class="input-group-text" id="passwordHelp" style="font-size: 14px;">6 carácteres mínimo</span>
									</div>
								</div>
								<div class="form-group col-6">
									<label for="repitaPasswordTramitador">Repita Contraseña</label>
									<input type="password"
										class="form-control form-control-sm" id="repitaPasswordTramitador" name="repitaPassword"
										aria-describedby="nuevoPasswordHelp" placeholder="Repita contraseña" />
									<div class="input-group-append">
									    <span class="input-group-text" id="repitaPasswordHelp" style="font-size: 14px;">6 carácteres mínimo</span>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="form-group col-sm-12 col-md-6">
									<label for="nombreTramitador">Nombre</label>
									<input type="text" name="nombre"
										class="form-control form-control-sm" id="nombreTramitador" maxlength="150" placeholder="Nombre" />						
								</div>
								<div class="form-group col-sm-12 col-md-6">
									<label for="apellido1Tramitador">1º Apellido</label>
									<input type="text" name="apellido1"
										class="form-control form-control-sm" id="apellido1Tramitador" maxlength="150" placeholder="1º apellido" />
								</div>								
							</div>
							<div class="row">
								<div class="form-group col-sm-12 col-md-6">
									<label for="apellido2Tramitador">2º Apellido</label>
									<input type="text" name="apellido2"
										class="form-control form-control-sm" id="apellido2Tramitador" maxlength="150" placeholder="2ª apellido" />
								</div>
								<div class="form-group col-sm-12 col-md-6">
									<label for="NIFTramitador">NIF</label>
									<input type="text" name="nif"
										class="form-control w-50 form-control-sm" id="NIFTramitador" maxlength="9" placeholder="NIF" />
								</div>
							</div>
							<div class="row">			
								<div class="form-group col-sm-12 col-md-6">
									<label for="emailTramitador">Email</label>
									<input type="text" name="email" required="required"
										class="form-control form-control-sm" id="emailTramitador" maxlength="50" placeholder="Email" />
								</div>
								<div class="form-group col-sm-12 col-md-6">
									<label for="telefonoTramitador">Teléfono</label>
									<input type="text" name="telefono"
										class="form-control form-control-sm  w-50" id="telefonoTramitador" maxlength="9" placeholder="Teléfono" />
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<button type="submit" class="btn btn-primary" >Confirmar</button>
					</div>
				</div>
			</div>
			<input type="hidden" name="idTramitador" id="idTramitadorForm"/>
		</form>
	</div>
	
	<div th:replace="fragments/footer.html :: footer" />

</body>
</html>